In [7]:
import pandas as pd 
import seaborn as sns 
import numpy as np 
from sklearn.neighbors import KNeighborsRegressor
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline 
from sklearn.metrics import accuracy_score, precision_score, recall_score, classification_report, confusion_matrix

In [2]:
data = pd.read_csv('./data_files/clean_data.csv')

In [5]:
data.drop(columns=['Unnamed: 0'], inplace=True)
data.head()

,status,price,bed,bath,acre_lot,street,city,state,zip_code,house_size,last_owned
0,SOLD,105000,3.0,2.0,0.12,Sector Yahuecas Titulo # V84,Adjuntas,Puerto Rico,601.0,920.0,Not Owned
1,SOLD,80000,4.0,2.0,0.08,Km 78 9 Carr # 135,Adjuntas,Puerto Rico,601.0,1527.0,Not Owned
2,SOLD,67000,2.0,1.0,0.15,556G 556-G 16 St,Juana Diaz,Puerto Rico,795.0,748.0,Not Owned
3,SOLD,145000,4.0,2.0,0.10,R5 Comunidad El Paraso Calle De Oro R-5 Ponce,Ponce,Puerto Rico,731.0,1800.0,Not Owned
4,SOLD,65000,6.0,2.0,0.05,14 Navarro,Mayaguez,Puerto Rico,680.0,1000.0,Not Owned

In [14]:
len(data['zip_code'].unique())

758

In [18]:
X = data.drop(columns=['price', 'city', 'street', 'zip_code'])
y = data['price']

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=42)

In [20]:
ohe = OneHotEncoder(handle_unknown='ignore', sparse=False)
ohe_train = X_train[['status', 'last_owned', 'state']]
ohe_test = X_test[['status', 'last_owned', 'state']]

ohe_train = ohe.fit_transform(ohe_train)
ohe_test = ohe.transform(ohe_test)

In [21]:
scaler = StandardScaler()

scaled_train = X_train[['bed','bath','acre_lot','house_size']]
scaled_test = X_test[['bed','bath','acre_lot','house_size']]

scaled_train = scaler.fit_transform(scaled_train)
scaled_test  = scaler.transform(scaled_test)

In [27]:
X_train = np.concatenate((scaled_train ,ohe_train), axis=1)
X_test = np.concatenate((scaled_test ,ohe_test), axis=1)